name: Lint Check

on:
  pull_request:
  workflow_dispatch:

jobs:
  run-lint:
    runs-on: ubuntu-latest
    name: Run Lint
    steps:
      - name: Check out codebase
        uses: actions/checkout@v5
      
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"
          # キャッシュの読み込み
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --group lint -no-dev

      # Ruffの実行
      # https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#using-ruff-to-lint-code
      - name: Lint with Ruff
        run: |
          uv run ruff check . --output-format=github
